h1{
    text-align: center;
    color: rgb(151, 10, 10);
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    margin: 25px;
    font-size: 3.5rem;
}

.row {
    margin: 50px;
    justify-content: center;
}

.row div{
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}

.section h2{
    text-decoration: overline;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.footer{
    background-color: rgba(61, 59, 59, 0.822);
    color: beige;
    
}